{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block sidenav %}
    {% for page in page_list %}
        <li>
            <a href = "{{ page.permalink }}"> {{ page.title }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    {% autoscape off %}
        <!-- <h1> Welcome! </h1>
        <p> This is the page template </p> -->

        {{ content }}

    {{% endautoscape %}}

    <p>
        Page last updated: {{ last_updated | date: "D d F Y" }}
    </p>

{% endblock content %}